## Find Homorhythm


#### This function predicts homorhythmic passages in a given piece.
    
The method follows various stages:
- gets durational ngrams, and finds passages in which these are the same in more than two voices at a given offsets
- gets syllables at every offset, and identifies passages where more than two voices are singing the same lyrics_hr
- checks the number of active voices (thus eliminating places where some voices have rests)

In [1]:
import intervals
from intervals import * 
from intervals import main_objs
import intervals.visualizations as viz
import pandas as pd
import re
import altair as alt 
from ipywidgets import interact
from pandas.io.json import json_normalize
from pyvis.network import Network
from IPython.display import display
import requests
import os
import numpy
import itertools
MYDIR = ("saved_csv")
CHECK_FOLDER = os.path.isdir(MYDIR)

# If folder doesn't exist, then create it.
if not CHECK_FOLDER:
    os.makedirs(MYDIR)
    print("created folder : ", MYDIR)

else:
    print(MYDIR, "folder already exists.")

saved_csv folder already exists.

## Import Your Piece

- Here you will want to select the appropriate 'prefix' that identifies the location of your file.
- `'Music_Files/'` is for files in the local notebook; `'https://crimproject.org/mei/'` is for the files on CRIM.
- Then provide the full name (and extension) of your music file, such as `'CRIM_Model_0038.mei'`

In [2]:
# Select a prefix:

prefix = 'Music_Files/'
# prefix = 'https://crimproject.org/mei/'

# Add your filename here

mei_file = 'CRIM_Model_0038.mei'

url = prefix + mei_file

piece = importScore(url)

print(piece.metadata)

Successfully imported Music_Files/CRIM_Model_0038.mei
{'title': 'Ultimi miei sospiri', 'composer': 'Philippe Verdelot'}

### Run the HR detector here

In [3]:
piece.homorhythm()

                     active_voices  number_dur_ngrams  active_syll_voices
Measure Beat Offset
47      4.0  374.0             3.0                1.0                 3.0
48      2.0  378.0             3.0                1.0                 3.0
        3.0  380.0             3.0                1.0                 3.0
49      2.0  386.0             4.0                1.0                 4.0
50      4.0  398.0             5.0                1.0                 5.0
58      1.0  456.0             3.0                1.0                 3.0

### Load Batch of Pieces Here

- Name determined below

In [4]:
mass_list = ["CRIM_Mass_0001_1", "CRIM_Mass_0001_2", "CRIM_Mass_0001_3", "CRIM_Mass_0001_4",
 "CRIM_Mass_0001_5", "CRIM_Mass_0002_1", "CRIM_Mass_0002_2", "CRIM_Mass_0002_3", "CRIM_Mass_0002_4",
  "CRIM_Mass_0002_5", "CRIM_Mass_0003_1", "CRIM_Mass_0003_2", "CRIM_Mass_0003_3", "CRIM_Mass_0003_4",
   "CRIM_Mass_0003_5", "CRIM_Mass_0004_1", "CRIM_Mass_0004_2", "CRIM_Mass_0004_3", "CRIM_Mass_0004_4",
    "CRIM_Mass_0004_5", "CRIM_Mass_0005_1", "CRIM_Mass_0005_2", "CRIM_Mass_0005_3", "CRIM_Mass_0005_4",
     "CRIM_Mass_0005_5", "CRIM_Mass_0006_1", "CRIM_Mass_0006_2", "CRIM_Mass_0006_3", "CRIM_Mass_0006_4", "CRIM_Mass_0006_5", "CRIM_Mass_0007_1", "CRIM_Mass_0007_2", "CRIM_Mass_0007_3", "CRIM_Mass_0007_4", "CRIM_Mass_0007_5", "CRIM_Mass_0008_1", "CRIM_Mass_0008_2", "CRIM_Mass_0008_3", "CRIM_Mass_0008_4", "CRIM_Mass_0008_5", "CRIM_Mass_0009_1", "CRIM_Mass_0009_2", "CRIM_Mass_0009_3", "CRIM_Mass_0009_4", "CRIM_Mass_0009_5", "CRIM_Mass_0010_1", "CRIM_Mass_0010_2", "CRIM_Mass_0010_3",
     "CRIM_Mass_0010_4", "CRIM_Mass_0010_5", "CRIM_Mass_0011_1", "CRIM_Mass_0011_2", "CRIM_Mass_0011_3", 
     "CRIM_Mass_0011_4", "CRIM_Mass_0011_5", "CRIM_Mass_0012_1", "CRIM_Mass_0012_2", "CRIM_Mass_0012_3",
      "CRIM_Mass_0012_4", "CRIM_Mass_0012_5", "CRIM_Mass_0013_1", "CRIM_Mass_0013_2", "CRIM_Mass_0013_3",
       "CRIM_Mass_0013_4", "CRIM_Mass_0013_5", "CRIM_Mass_0014_1", "CRIM_Mass_0014_2", "CRIM_Mass_0014_3",
        "CRIM_Mass_0014_4", "CRIM_Mass_0014_5", "CRIM_Mass_0015_1", "CRIM_Mass_0015_2", "CRIM_Mass_0015_3",
         "CRIM_Mass_0015_4", "CRIM_Mass_0015_5", "CRIM_Mass_0016_1", "CRIM_Mass_0016_2", "CRIM_Mass_0016_3", "CRIM_Mass_0016_4", "CRIM_Mass_0016_5", "CRIM_Mass_0017_1", "CRIM_Mass_0017_2", "CRIM_Mass_0017_3", "CRIM_Mass_0017_4", "CRIM_Mass_0017_5", "CRIM_Mass_0018_1", "CRIM_Mass_0018_2", "CRIM_Mass_0018_3", "CRIM_Mass_0018_4", "CRIM_Mass_0018_5", "CRIM_Mass_0019_1", "CRIM_Mass_0019_2", "CRIM_Mass_0019_3", "CRIM_Mass_0019_4", "CRIM_Mass_0019_5", "CRIM_Mass_0020_1", "CRIM_Mass_0020_2", "CRIM_Mass_0020_3", "CRIM_Mass_0020_4", "CRIM_Mass_0020_5", "CRIM_Mass_0021_1", "CRIM_Mass_0021_2",
          "CRIM_Mass_0021_3", "CRIM_Mass_0021_4", "CRIM_Mass_0021_5", "CRIM_Mass_0022_2", "CRIM_Mass_0023_1", "CRIM_Mass_0023_2", "CRIM_Mass_0023_3", "CRIM_Mass_0023_4", "CRIM_Mass_0023_5", "CRIM_Mass_0024_1", "CRIM_Mass_0024_2", "CRIM_Mass_0024_3", "CRIM_Mass_0024_4", "CRIM_Mass_0024_5", "CRIM_Mass_0025_1", "CRIM_Mass_0025_2", "CRIM_Mass_0025_3", "CRIM_Mass_0025_4", "CRIM_Mass_0025_5", "CRIM_Mass_0026_1", "CRIM_Mass_0026_2", "CRIM_Mass_0026_3", "CRIM_Mass_0026_4", "CRIM_Mass_0026_5", "CRIM_Mass_0027_1", "CRIM_Mass_0027_2", "CRIM_Mass_0027_3", "CRIM_Mass_0027_4", "CRIM_Mass_0027_5", "CRIM_Mass_0028_1", "CRIM_Mass_0028_2", "CRIM_Mass_0028_3", "CRIM_Mass_0028_4", "CRIM_Mass_0028_5", "CRIM_Mass_0029_1", "CRIM_Mass_0029_2", "CRIM_Mass_0029_3", "CRIM_Mass_0029_4", "CRIM_Mass_0029_5", "CRIM_Mass_0030_1", "CRIM_Mass_0030_2", "CRIM_Mass_0030_3", "CRIM_Mass_0030_4", "CRIM_Mass_0030_5", "CRIM_Mass_0031_1", "CRIM_Mass_0031_2", "CRIM_Mass_0031_3", "CRIM_Mass_0031_4", "CRIM_Mass_0031_5", "CRIM_Mass_0032_1", "CRIM_Mass_0032_2", "CRIM_Mass_0032_3", "CRIM_Mass_0032_4", 
          "CRIM_Mass_0032_5", "CRIM_Mass_0033_1", "CRIM_Mass_0033_2", "CRIM_Mass_0033_3", "CRIM_Mass_0033_5", "CRIM_Mass_0038_1", "CRIM_Mass_0038_2", "CRIM_Mass_0038_3", "CRIM_Mass_0038_4", "CRIM_Mass_0038_5", "CRIM_Mass_0039_1", "CRIM_Mass_0039_2", "CRIM_Mass_0039_3", "CRIM_Mass_0039_4", "CRIM_Mass_0039_5", "CRIM_Mass_0042_1", "CRIM_Mass_0042_2", "CRIM_Mass_0042_3", "CRIM_Mass_0042_4", "CRIM_Mass_0042_5", "CRIM_Mass_0043_1", "CRIM_Mass_0043_2", "CRIM_Mass_0043_3", "CRIM_Mass_0043_4", "CRIM_Mass_0043_5", "CRIM_Mass_0044_1", "CRIM_Mass_0044_2", "CRIM_Mass_0044_3", "CRIM_Mass_0044_4", "CRIM_Mass_0044_5", "CRIM_Mass_0045_1", "CRIM_Mass_0045_2", "CRIM_Mass_0045_3", "CRIM_Mass_0045_4", "CRIM_Mass_0045_5", "CRIM_Mass_0046_1", "CRIM_Mass_0046_2", "CRIM_Mass_0046_3", "CRIM_Mass_0046_4", "CRIM_Mass_0046_5", "CRIM_Mass_0047_1", "CRIM_Mass_0047_2", "CRIM_Mass_0047_3", "CRIM_Mass_0047_4", "CRIM_Mass_0047_5", "CRIM_Mass_0048_1", "CRIM_Mass_0048_2", "CRIM_Mass_0048_3", "CRIM_Mass_0048_4", "CRIM_Mass_0048_5", "CRIM_Mass_0049_1", "CRIM_Mass_0049_2", 
          "CRIM_Mass_0049_3", "CRIM_Mass_0049_4", "CRIM_Mass_0049_5"]

In [ ]:
git_prefix = 'https://raw.githubusercontent.com/CRIM-Project/CRIM-online/master/crim/static/mei/MEI_4.0/'
mei = '.mei'
for work in mass_list:
    file_url = git_prefix + work + mei 

    piece = importScore(file_url)
    output = find_hr(piece)
    output['Composer'] = piece.metadata["composer"]
    output['Title'] = piece.metadata["title"]
    output['Validation'] = ""
    output['Comments'] = ""
    output.to_csv("saved_csv/" + work + "_HR" + ".csv")

### Below Explains the various Functions

In [3]:
# function for removing non alpha characters from texts

def alpha_only(value):
    if isinstance(value, str):
        return re.sub(r'[^a-zA-Z]', '', value)
    else:
        return value

In [5]:
def find_hr(piece):
    nr = piece.getNoteRest()
    dur = piece.getDuration(df=nr)
    ng = piece.getNgrams(df=dur, n=2)
    dur_ngrams = []
    
    # find passages with more than 2 active voices
    for index, rows in ng.iterrows():

        dur_ngrams_no_nan = [x for x in rows if pd.isnull(x) == False]
        dur_ngrams.append(dur_ngrams_no_nan)

    ng['dur_ngrams'] = dur_ngrams
    # ng['rest_count'] = rests
    ng['active_voices'] = ng['dur_ngrams'].apply(len)
    ng['number_dur_ngrams'] = ng['dur_ngrams'].apply(set).apply(len)
    ng = ng[(ng['number_dur_ngrams'] <2) & (ng['active_voices'] > 2)]
    
    # check rests in multiple parts
    nr.ffill(inplace=True)
    index_of_rests = []
    rests = []
    for index, rows in nr.iterrows():
        rest_test = [y for y in rows if y == "Rest"]
        rests.append(rest_test)
    
    #     index_of_rests.append(index)
    nr["rests"] = rests  
    nr["rests_count"] = nr["rests"].apply(len)
    full_stop = nr[(nr['rests_count'] > 1) ]
    rests_with_mb = piece.detailIndex(full_stop)
    # now get lyric syllables
    lyrics = piece.getLyric()
    lyrics = lyrics.applymap(alpha_only)
    cols = lyrics.columns
    for col in cols:
        lyrics[col] = lyrics[col].str.lower()
    syll_set = []
    for index2, rows2 in lyrics.iterrows():
        syll_no_nan = [z for z in rows2 if pd.isnull(z) == False]
        syll_set.append(syll_no_nan)
    #     print(syll_no_nan)
    lyrics['syllable_set'] = syll_set
    
    # create mask consisting of passages with more than two voices actively singing same syllables
    lyrics['active_syll_voices'] = lyrics['syllable_set'].apply(len)
    # count how _many_ syllables at this offset
    lyrics['number_sylls'] = lyrics['syllable_set'].apply(set).apply(len)
    # get count of possible hr passages (several voices with same syllable)
    lyrics_hr = lyrics[(lyrics['active_syll_voices'] > 2) & (lyrics['number_sylls'] < 2)]
    # piece.detailIndex(lyrics_hr, offset=True)
    # lyrics['is_hr'] = np.where(lyrics['active_voices'] > 3) 
    hr_sylls_mask = lyrics_hr["active_syll_voices"]
    
    # combine results to show passages where more than 2 voices have the same syllables and durations
    ng = ng[['active_voices', "number_dur_ngrams"]]
    hr = pd.merge(ng, hr_sylls_mask, left_index=True, right_index=True)
    result = piece.detailIndex(hr, offset=True)
    return result

In [4]:
find_hr(piece)

                     active_voices  number_dur_ngrams  active_syll_voices
Measure Beat Offset
46      4.0  366.0             3.0                1.0                 3.0
59      1.0  464.0             3.0                1.0                 3.0
61      1.0  480.0             3.0                1.0                 3.0
        4.0  486.0             3.0                1.0                 3.0
62      3.0  492.0             3.0                1.0                 3.0
63      3.0  500.0             3.0                1.0                 3.0
64      2.0  506.0             4.0                1.0                 4.0
        4.0  510.0             4.0                1.0                 4.0
65      1.0  512.0             4.0                1.0                 4.0
80      1.0  632.0             4.0                1.0                 4.0
92      4.0  734.0             3.0                1.0                 3.0
93      1.0  736.0             4.0                1.0                 3.0

In [4]:
# Durations of Notes in Ngrams.  
# "2" is the minimum number to find passages of three HR chords.
nr = piece.getNoteRest()
dur = piece.getDuration(df=nr)
ng = piece.getNgrams(df=dur, n=2)
ng

          Superius  Contratenor        Tenor       Bassus
0.0     (8.0, 4.0)  (16.0, 8.0)  (72.0, 8.0)  (88.0, 8.0)
8.0     (4.0, 6.0)          NaN          NaN          NaN
12.0    (6.0, 1.0)          NaN          NaN          NaN
16.0           NaN   (8.0, 4.0)          NaN          NaN
18.0    (1.0, 1.0)          NaN          NaN          NaN
...            ...          ...          ...          ...
865.0   (1.0, 4.0)          NaN   (1.0, 1.0)          NaN
866.0   (4.0, 2.0)   (2.0, 4.0)   (1.0, 1.0)          NaN
867.0          NaN          NaN   (1.0, 4.0)          NaN
868.0          NaN  (4.0, 16.0)  (4.0, 16.0)  (4.0, 16.0)
870.0  (2.0, 16.0)          NaN          NaN          NaN

[458 rows x 4 columns]

In [5]:
dur_ngrams = []

for index, rows in ng.iterrows():

    dur_ngrams_no_nan = [x for x in rows if pd.isnull(x) == False]
    dur_ngrams.append(dur_ngrams_no_nan)

ng['dur_ngrams'] = dur_ngrams
# ng['rest_count'] = rests
ng['active_voices'] = ng['dur_ngrams'].apply(len)
ng['number_dur_ngrams'] = ng['dur_ngrams'].apply(set).apply(len)
ng = ng[(ng['number_dur_ngrams'] <2) & (ng['active_voices'] > 2)]

ng.head()

,Superius,Contratenor,Tenor,Bassus,dur_ngrams,active_voices,number_dur_ngrams
366.0,"(2.0, 4.0)","(2.0, 4.0)","(2.0, 4.0)",NaN,"[(2.0, 4.0), (2.0, 4.0), (2.0, 4.0)]",3,1
464.0,"(8.0, 4.0)","(8.0, 4.0)","(8.0, 4.0)",NaN,"[(8.0, 4.0), (8.0, 4.0), (8.0, 4.0)]",3,1
480.0,"(6.0, 2.0)","(6.0, 2.0)","(6.0, 2.0)",NaN,"[(6.0, 2.0), (6.0, 2.0), (6.0, 2.0)]",3,1
486.0,"(2.0, 4.0)","(2.0, 4.0)","(2.0, 4.0)",NaN,"[(2.0, 4.0), (2.0, 4.0), (2.0, 4.0)]",3,1
492.0,"(2.0, 2.0)","(2.0, 2.0)","(2.0, 2.0)",NaN,"[(2.0, 2.0), (2.0, 2.0), (2.0, 2.0)]",3,1

In [6]:
# Checks for Rests in All Voices

pd.set_option('display.max_rows', None)
nr.ffill(inplace=True)
index_of_rests = []
rests = []
for index, rows in nr.iterrows():
    rest_test = [y for y in rows if y == "Rest"]
    rests.append(rest_test)
#     index_of_rests.append(index)
nr["rests"] = rests  
nr["rests_count"] = nr["rests"].apply(len)
full_stop = nr[(nr['rests_count'] > 1) ]
rests_with_mb = piece.detailIndex(full_stop)
full_stop.head()

     Superius Contratenor Tenor Bassus               rests  rests_count
0.0        G4        Rest  Rest   Rest  [Rest, Rest, Rest]            3
8.0        G4        Rest  Rest   Rest  [Rest, Rest, Rest]            3
12.0      B-4        Rest  Rest   Rest  [Rest, Rest, Rest]            3
16.0      B-4          D4  Rest   Rest        [Rest, Rest]            2
18.0       A4          D4  Rest   Rest        [Rest, Rest]            2

In [10]:
# here we get the syllables sung at any offset
lyrics = piece.getLyric()
lyrics = lyrics.applymap(alpha_only)
cols = lyrics.columns
for col in cols:
    lyrics[col] = lyrics[col].str.lower()
syll_set = []
for index2, rows2 in lyrics.iterrows():
    syll_no_nan = [z for z in rows2 if pd.isnull(z) == False]
    syll_set.append(syll_no_nan)
#     print(syll_no_nan)
lyrics['syllable_set'] = syll_set
lyrics.head()

     Superius Contratenor Tenor Bassus syllable_set
0.0        to         NaN   NaN    NaN         [to]
8.0        ta         NaN   NaN    NaN         [ta]
12.0      pul         NaN   NaN    NaN        [pul]
16.0      NaN          to   NaN    NaN         [to]
18.0      NaN         NaN   NaN    NaN           []

In [11]:
# count of voices with syllables at this offset
lyrics['active_syll_voices'] = lyrics['syllable_set'].apply(len)
# count how _many_ syllables at this offset
lyrics['number_sylls'] = lyrics['syllable_set'].apply(set).apply(len)
# get count of possible hr passages (several voices with same syllable)
lyrics_hr = lyrics[(lyrics['active_syll_voices'] > 2) & (lyrics['number_sylls'] < 2)]
# piece.detailIndex(lyrics_hr, offset=True)
# lyrics['is_hr'] = np.where(lyrics['active_voices'] > 3) 
hr_sylls_mask = lyrics_hr["active_syll_voices"]
lyrics_hr
# hr_sylls_mask

,Superius,Contratenor,Tenor,Bassus,syllable_set,active_syll_voices,number_sylls
352.0,ris,ris,ris,NaN,"[ris, ris, ris]",3,1
360.0,vul,vul,vul,NaN,"[vul, vul, vul]",3,1
366.0,ne,ne,ne,NaN,"[ne, ne, ne]",3,1
368.0,ra,ra,ra,NaN,"[ra, ra, ra]",3,1
372.0,sti,sti,sti,NaN,"[sti, sti, sti]",3,1
376.0,cor,cor,cor,NaN,"[cor, cor, cor]",3,1
464.0,in,in,in,NaN,"[in, in, in]",3,1
480.0,o,o,o,NaN,"[o, o, o]",3,1
486.0,cu,cu,cu,NaN,"[cu, cu, cu]",3,1
492.0,rum,rum,rum,NaN,"[rum, rum, rum]",3,1
494.0,tu,tu,tu,NaN,"[tu, tu, tu]",3,1
496.0,o,o,o,o,"[o, o, o, o]",4,1
500.0,rum,NaN,rum,rum,"[rum, rum, rum]",3,1
506.0,et,et,et,et,"[et, et, et, et]",4,1
510.0,in,in,in,in,"[in, in, in, in]",4,1
512.0,u,u,u,u,"[u, u, u, u]",4,1
516.0,no,no,no,no,"[no, no, no, no]",4,1
520.0,cri,cri,cri,cri,"[cri, cri, cri, cri]",4,1
524.0,ne,ne,NaN,ne,"[ne, ne, ne]",3,1
540.0,NaN,tu,tu,tu,"[tu, tu, tu]",3,1
548.0,i,i,i,i,"[i, i, i, i]",4,1
632.0,mel,mel,mel,mel,"[mel, mel, mel, mel]",4,1
640.0,et,et,et,et,"[et, et, et, et]",4,1
648.0,lac,lac,lac,lac,"[lac, lac, lac, lac]",4,1
724.0,o,o,NaN,o,"[o, o, o]",3,1
734.0,ve,ve,NaN,ve,"[ve, ve, ve]",3,1
736.0,sti,sti,NaN,sti,"[sti, sti, sti]",3,1
760.0,rum,rum,NaN,rum,"[rum, rum, rum]",3,1

In [12]:
# here we merge the syllable mask (where X voices have the same syllable)
# into the DF of the matching durations in 3+ voices
ng = ng[['active_voices', "number_dur_ngrams"]]
hr = pd.merge(ng, hr_sylls_mask, left_index=True, right_index=True)
piece.detailIndex(hr, offset=True)

                     active_voices  number_dur_ngrams  active_syll_voices
Measure Beat Offset
46      4.0  366.0             3.0                1.0                 3.0
59      1.0  464.0             3.0                1.0                 3.0
61      1.0  480.0             3.0                1.0                 3.0
        4.0  486.0             3.0                1.0                 3.0
62      3.0  492.0             3.0                1.0                 3.0
63      3.0  500.0             3.0                1.0                 3.0
64      2.0  506.0             4.0                1.0                 4.0
        4.0  510.0             4.0                1.0                 4.0
65      1.0  512.0             4.0                1.0                 4.0
80      1.0  632.0             4.0                1.0                 4.0
92      4.0  734.0             3.0                1.0                 3.0
93      1.0  736.0             4.0                1.0                 3.0

In [ ]:
def find_hr(piece)